n8n/watchman_list_update.json
{
  "name": "watchman_list_update",
  "nodes": [
    {
      "parameters": {
        "path": "watchman-list-update",
        "options": {
          "responseCode": 200
        }
      },
      "name": "HTTP Webhook (from FastAPI)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [260, 300],
      "webhookId": "watchman_list_update"
    },
    {
      "parameters": {
        "functionCode": "return [{ json: {\n  event_type: $json[\"event_type\"],\n  list_name: $json[\"list_name\"] || null,\n  timestamp: $json[\"timestamp\"],\n  details: $json[\"details\"] || {}\n}}];"
      },
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [520, 300]
    },
    {
      "parameters": {
        "functionCode": "const listName = $json.list_name || 'unknown';\nconst eventType = $json.event_type || 'list_updated';\nconst text = `Watchman list update\\nType: ${eventType}\\nList: ${listName}\\nTime: ${$json.timestamp}`;\nreturn [{ json: { text, event_type: eventType, list_name: listName, timestamp: $json.timestamp } }];"
      },
      "name": "Build Notification Text",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [780, 300]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "http://banxe-emi-stack:8093/internal/notifications/mlro",
        "jsonParameters": true,
        "options": {},
        "headerAuth": {
          "name": "X-Internal-Token",
          "value": "={{ $env.INTERNAL_API_TOKEN }}"
        },
        "bodyParametersJson": "={\"channel\": \"mlro_sanctions\", \"severity\": \"warning\", \"message\": $json[\"text\"], \"source\": \"watchman_list_update\"}"
      },
      "name": "Notify MLRO / Head of FinCrime",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1040, 300]
    }
  ],
  "connections": {
    "HTTP Webhook (from FastAPI)": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "Build Notification Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Notification Text": {
      "main": [
        [
          {
            "node": "Notify MLRO / Head of FinCrime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
