n8n/watchman_rescreen_high_risk.json
{
  "name": "watchman_rescreen_high_risk",
  "nodes": [
    {
      "parameters": {
        "path": "watchman-rescreen-high-risk",
        "options": {
          "responseCode": 200
        }
      },
      "name": "HTTP Webhook (triggered by FastAPI)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [260, 300],
      "webhookId": "watchman_rescreen_high_risk"
    },
    {
      "parameters": {
        "functionCode": "const eventType = $json[\"event_type\"] || \"list_updated\";\nconst listName = ($json[\"list_name\"] || \"\").toLowerCase();\n\n// Only trigger re-screen for major lists\nconst importantLists = [\"ofac_sdn\", \"hmt\", \"eu\"];\n\nif (eventType !== \"list_updated\") {\n  return [];\n}\n\nif (listName && !importantLists.some(l => listName.includes(l))) {\n  // Minor list — skip re-screen\n  return [];\n}\n\nreturn [{ json: { list_name: $json[\"list_name\"] || \"unknown\", event_type: eventType } }];"
      },
      "name": "Filter Important Lists",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [520, 300]
    },
    {
      "parameters": {
        "functionCode": "const listName = $json.list_name || 'unknown';\nconst message = `Starting high-risk client re-screen due to Watchman update on list: ${listName}`;\nreturn [{ json: { message, list_name: listName } }];"
      },
      "name": "Build MLRO Notification",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [780, 260]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "http://banxe-emi-stack:8093/internal/notifications/mlro",
        "jsonParameters": true,
        "options": {},
        "headerAuth": {
          "name": "X-Internal-Token",
          "value": "={{ $env.INTERNAL_API_TOKEN }}"
        },
        "bodyParametersJson": "={\"channel\": \"mlro_sanctions\", \"severity\": \"warning\", \"message\": $json[\"message\"], \"source\": \"watchman_rescreen_high_risk\"}"
      },
      "name": "Notify MLRO (start re-screen)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1040, 260]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "http://banxe-emi-stack:8093/compliance/sanctions/rescreen/high-risk",
        "jsonParameters": true,
        "options": {},
        "headerAuth": {
          "name": "X-Internal-Token",
          "value": "={{ $env.INTERNAL_API_TOKEN }}"
        },
        "bodyParametersJson": "={\"reason\": \"watchman_list_update\", \"list_name\": $json[\"list_name\"]}"
      },
      "name": "Trigger High-Risk Rescreen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1040, 360]
    }
  ],
  "connections": {
    "HTTP Webhook (triggered by FastAPI)": {
      "main": [
        [
          {
            "node": "Filter Important Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Important Lists": {
      "main": [
        [
          {
            "node": "Build MLRO Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trigger High-Risk Rescreen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
