config/n8n/shortfall-alert-workflow.json
{
  "name": "Banxe CASS-15 Safeguarding Shortfall Alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "safeguarding-shortfall",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-111111111111",
      "name": "Webhook — Safeguarding Result",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "banxe-safeguarding-shortfall"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equal",
              "value2": "DISCREPANCY"
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-222222222222",
      "name": "Is Discrepancy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "method": "POST",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.TELEGRAM_MLRO_CHAT_ID }}\",\n  \"parse_mode\": \"HTML\",\n  \"text\": \"<b>\\u26a0\\ufe0f BANXE SAFEGUARDING SHORTFALL DETECTED</b>\\n\\n<b>Date:</b> {{ $json.recon_date }}\\n<b>Status:</b> DISCREPANCY\\n<b>Midaz Balance:</b> \\u00a3{{ $json.midaz_balance }}\\n<b>Bank Balance:</b> \\u00a3{{ $json.bank_balance }}\\n<b>Shortfall:</b> \\u00a3{{ $json.shortfall_amount }}\\n\\n<b>FCA Requirement:</b> CASS 7.15.29R\\nInvestigate within 1 business day.\\nLog actions in INSTRUCTION-LEDGER.md.\"\n}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-333333333333",
      "name": "Alert MLRO via Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [720, 200]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "method": "POST",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.TELEGRAM_CEO_CHAT_ID }}\",\n  \"parse_mode\": \"HTML\",\n  \"text\": \"<b>\\u26a0\\ufe0f BANXE SAFEGUARDING SHORTFALL</b>\\n\\n<b>Date:</b> {{ $json.recon_date }}\\n<b>Shortfall:</b> \\u00a3{{ $json.shortfall_amount }}\\n\\nMLRO alerted. FCA CASS 7.15.29R — 1 business day to resolve.\"\n}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-444444444444",
      "name": "Alert CEO via Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [720, 360]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "method": "POST",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.TELEGRAM_CEO_CHAT_ID }}\",\n  \"parse_mode\": \"HTML\",\n  \"text\": \"\\u2705 <b>BANXE SAFEGUARDING OK</b>\\n\\n<b>Date:</b> {{ $json.recon_date }}\\n<b>Status:</b> {{ $json.status }}\\n<b>Midaz Balance:</b> \\u00a3{{ $json.midaz_balance }}\\n<b>Bank Balance:</b> \\u00a3{{ $json.bank_balance }}\\n\\nFCA CASS 15 daily check passed.\"\n}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-555555555555",
      "name": "Heartbeat — Matched OK",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [720, 520]
    }
  ],
  "connections": {
    "Webhook — Safeguarding Result": {
      "main": [
        [
          {
            "node": "Is Discrepancy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Discrepancy?": {
      "main": [
        [
          {
            "node": "Alert MLRO via Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Alert CEO via Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Heartbeat — Matched OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": ["banxe", "fca", "cass15", "safeguarding"],
  "_banxe_notes": {
    "fca_rule": "CASS 7.15.29R — discrepancy alert within 1 business day",
    "il_ref": "IL-043",
    "import_instructions": [
      "1. Open n8n at http://192.168.0.72:5678",
      "2. Settings → Variables → Add: TELEGRAM_BOT_TOKEN, TELEGRAM_MLRO_CHAT_ID, TELEGRAM_CEO_CHAT_ID",
      "3. Import this workflow: Workflows → Import from file → shortfall-alert-workflow.json",
      "4. Activate the workflow",
      "5. Set N8N_WEBHOOK_URL=http://localhost:5678/webhook/safeguarding-shortfall in /data/banxe/.env"
    ],
    "webhook_path": "/webhook/safeguarding-shortfall",
    "trigger": "POST from daily-recon.sh Step 5 or services.recon.midaz_reconciliation._fire_alerts()"
  }
}
